
/* HEADER */
#page{
	margin-bottom:50px;
	height:50px;
	padding-bottom: 48px;
    padding-top: 48px;
}



/* TABLES*/

.xtable{
	width:100%;
}

.xtable thead th {
	cursor: pointer;
	color:blue;
	padding:1px 0px;
}

.xtable td, .xtable tr  {
	min-height:60px;
	border-bottom:dotted #ccc 2px;
	text-align:left;
}

td.ep-table-cell {
    vertical-align: top;
}
.bold{
font-weight:bold;
}



/* FOOTER */
.footer {
  clear: both;
  margin-top:100px;
	display:block;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding:10px 0;
}

.footer img {
	margin-left:4px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

