<% layout( 'layout' ) -%>



<div class="jumbotron">
	<div class="container">
  <h2>Theresenstadt explained</h2>
  <p>--- Bemerkungen zur Auswahl an Protagonisten  ---</p>
  </div>
</div> 

<div class="container">
	<div class="row">
		<div class="col-md-8 mark">
### Der NS-Propaganda Film
"Theresienstadt. Ein Dokumentarfilm aus dem Jüdischen Siedlungsgebiet"

### Anwendsungsszenarien
* Filmpräsentation vor Gruppen
* Exploratives und selbstgesteuertes Lernen
* CSCL-Script für eine gemeinschaftliche Auseinandersetzung mit dem Film		
		</div>
	</div>	
</div>



