
<div class="jumbotron">
	<div class="container">
  <h2>Protagonisten</h2>
  <p>Die nachfolgend gelistet Personen wurden von als Protagonisten im Film identifiziert. Die biographischen Angaben konnten bisweilen nur teilweise ermittelt werden.</p>
  </div>
</div> 

<div class="container">
	<div id="table1"></div>
</div>

<script src="/vi-lab/lib/bootstrap-table-all.min.js"></script>
<script type="text/javascript"> 

$(document).ready (function () { 
	$('#table1').bootstrapTable({
    url: '/json/persons',
//    showColumns : true,
//    checkboxHeader : true,
    search: true,
    strictSearch: true,
    trimOnSearch:true,
    detailView : function(index, row){ alert(row.bio); if(row.bio !== '' ){ return true; }else{ return false; } },
    detailFormatter : function(index, row) { 
    	return [
					row.bio
				].join('');
		},
		//onClickRow : function(row, el){ alert(row._id); },
    /*onClickCell : function(field, value, row, el){ 
    	if(field==='title'){ 
    		window.location.href = "/admin/videos/files/edit/"+row._id;
    	} 
    },*/
    columns: [			
    	{ field: 'image', title: '', formatter:imageformatter, sortable : false, order: 'asc',searchable :false }, 
		  { field: 'surename', title: 'Nachname', sortable : true, order: 'asc',searchable : true }, 
		  { field: 'name', title: 'Vorname', sortable : true, order: 'asc',searchable : true }, 
		  { field: 'birth', title: 'Geburtstag', visible:true, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'birth_place', title: 'Geburtsort', visible:true, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'death', title: 'Todestag', visible:true, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'death_place', title: 'Todesort', visible:true, sortable : true, order: 'asc',searchable : true }, 
		  { field: 'profession', title: 'Beruf', visible:true, sortable : true, order: 'asc',searchable : true } 

    ]
	});
});


function operateFormatter(value, row, index) {
	return [
		'<a class="like" href="/admin/videos/files/edit/'+row._id+'" title="Edit file meta data">',
		'<i class="glyphicon glyphicon-pencil"></i>',
		'</a>  ',
		'<a class="remove" href="/admin/videos/files/instantiate/'+row._id+'" title="Create instance of file">',
		'<i class="glyphicon glyphicon-export"></i>',
		'</a>'
		].join('');
	}

function dateFormatter(value, row, index) { 
	return moment(value).fromNow();
}

function imageformatter(value, row, index) { 
	if(row.images[0].length > 0){
		return '<img width="70px" src="/vi-lab/img/persons/'+ row.images[0] +'" />';
	}else{
		return '';
	}
}

function sourceFormatter(value, row, index) {
	if(row.source !== undefined){ 
		return [
			'<a class="like" href="'+row.source+'" title="See video source">',
			'<i class="glyphicon glyphicon-link"></i> '+row.creator,
			'</a>  '
			].join('');
	}else{
		return row.creator;
	}	
}

</script>











