<% if (!items.user) { %>
	<!--<a class="account-data" href="/users/register">Registrieren</a>-->
	<a class="account-data" href="/login">Login</a>			
<% } else { %>
	<div class="user-menu">			 
		<a class="account-data" href="/users/view/<%= items.username %>">
			<img class="user-menu-icon"  src="/vi-lab/img/user-icons/user-<%= items.id %>_big.png" />
		</a>
		<a class="user-menu-entry" href="/logout">Profil</a>
		<a class="user-menu-entry" href="/logout">log out</a>	
	</div>
<% } %>		
