<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Theresienstadt explained</title>
<meta name='robots' content='noindex,nofollow' /> 



<!-- 
<link rel='stylesheet' id='jquery-ui-css' href='/vi-lab/css/ui-lightness/jquery-ui-1.7.2.custom.css' type='text/css' media='all' />
<link rel='stylesheet' id='vi-two_accordion-css' href='/vi-lab/css/jquery.hrzAccordion.defaults.css' type='text/css' media='all' />


<link rel='stylesheet' href='/vi-lab/css/vi2.main2.css' id='vi-two_main-css' type='text/css' media='all' />
<link rel='stylesheet' href='/vi-lab/css/videolab2.css' id='vi-lab_cust-css'  type='text/css' media='all' />

-->
<link rel="stylesheet" href="/vi-lab/css/bootstrap.min.css">
<link rel="stylesheet" href="/vi-lab/css/bootstrap-switch.min.css" >
<link rel="stylesheet" href="/vi-lab/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/vi-lab/css/jquery-ui-1.10.3.custom.css">
<link rel='stylesheet' href='/vi-lab/css/colorbox.css' id='colorboxx' type='text/css' media='all' />

<link rel='stylesheet' href='/vi-lab/css/vi2.videoplayer.css' id='vi-two_player-css'  type='text/css' media='all' />
<link rel='stylesheet' href='/vi-lab/css/vi2.assessment.css' id='vi-two-assessment' type='text/css' media='all' />
<link rel='stylesheet' href='/vi-lab/css/vi2.assessment-fill-in.css' type='text/css' media='all' />
<link rel='stylesheet' href='/vi-lab/css/vi2.assessment-writing.css' type='text/css' media='all' />
<link rel='stylesheet' href='/vi-lab/css/vi2.playback-speed.css' type='text/css' media='all' />
<link rel='stylesheet' href='/vi-lab/css/vi2.toc.css' type='text/css' media='all' />
<link rel='stylesheet' href='/vi-lab/css/vi2.highlight.css' type='text/css' media='all' />
<link rel='stylesheet' href='/vi-lab/css/theresienstadt.css' id='vi-lab_cust-css' type='text/css' media='all' />




<script src="/vi-lab/lib/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/vi-lab/lib/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="/vi-lab/lib/bootstrap.js" type="text/javascript"></script>
<script src="/vi-lab/lib/holder.js" type="text/javascript"></script>
<!--<script src="/vi-lab/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>-->




<script src="/vi-lab/js/jquery.ui.core.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.widget.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.mouse.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.position.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.draggable.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.droppable.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.resizable.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.selectable.js" type="text/javascript"></script>
<script src="/vi-lab/js/jquery.ui.sortable.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.accordion.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.autocomplete.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.button.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.datepicker.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.dialog.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.menu.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.progressbar.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.slider.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.spinner.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.tabs.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.tooltip.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-blind.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-bounce.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-clip.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-drop.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-explode.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-fade.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-fold.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-highlight.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-pulsate.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-scale.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-shake.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-slide.js" type="text/javascript"></script> 
<script src="/vi-lab/js/jquery.ui.effect-transfer.js" type="text/javascript"></script> 

<script type='text/javascript' src='/vi-lab/js/jquery.tinysort.min.js'></script>
<script type='text/javascript' src='/vi-lab/js/jquery.colorbox-min.js'></script>
<script type='text/javascript' src='/vi-lab/js/moment.min.js'></script>
<script type='text/javascript' src='/vi-lab/js/jquery.colorbox-min.js'></script>
<script type='text/javascript' src='/vi-lab/js/jquery.spin.js'></script>
<script type='text/javascript' src="/vi-lab/js/markdown.js"></script>
<script type='text/javascript' src="/vi-lab/js/jquery-image-loader.js"></script>


<script type='text/javascript' src='/vi-lab/js/vi-two-deps.js'></script>
<!--<script type='text/javascript' src='/vi-lab/js/jquery-1.5.2.js'></script>-->






<script type='text/javascript' src='/vi-lab/js/vi2.core.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.observer.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.database.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.parser.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.videoplayer.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.clock.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.utils.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.log.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.api.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.utils.maintanance.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.core.annotation.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.syncMedia.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.tags.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.highlight.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.toc.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.xlink.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.comments.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.assessment.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.assessment.fill-in.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.assessment.written.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.metadata.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.search.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.playlist.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.relatedVideos.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.videoManager.js'></script>
<script type='text/javascript' src='/vi-lab/js/vi2.playback-speed.js'></script>


<script type='text/javascript' src='/vi-lab/js/vi-videolab.js'></script>




<!--
<link rel='stylesheet' id='jquery-ui-css' href='/vi-lab/css/vi-two-style.min.css' type='text/css' media='all' />
<script type='text/javascript' src='/vi-lab/js/vi-two.min.js'></script>
-->

<script type='text/javascript' src="/socket.io/socket.io.js"></script>
<script type='text/javascript' src="/vi-lab/js/require.js" data-main="/vi-lab/js/requirejs-conf"></script>


<script type="text/javascript"> 
 var tt = 9;

var server = '';


/***/
var render = function(template, remote, selector){ 
  	require(['text!../views/'+template+'.ejs', 'ejs'], function(thetemplate) {  
  		if(remote){        
				$.ajax({
		      type: "get",
		      beforeSend: function(xhr){  
		  				if (xhr.overrideMimeType){
						    xhr.overrideMimeType("application/json");
		  				}
					},
		      url: server+'/json/'+template,
		      dataType: 'json',
		      success: function(data){  
						var html = ejs.render(thetemplate, { items: data });
						$(selector).html(html);
						
					},
					error : function(e){ alert('ERROR at '+template+':'+JSON.stringify(e)); }		  
				});
			
			}else{ 
				var html = ejs.render(thetemplate, {items:0});
				$(selector).html(html);
			}	
	}); // end require
};	// end render

$(window).load(function () {
	//render('user-data', true, '.user-area'); 
	//render('group-data', true, '.group-area');
	
	//render('home', false, '#page-intro')
	//render('story', false, '#page-history')
	//render('scenes', true, '#page-scenes')
	//render('persons', true, '#page-persons')
	
}); 

  
</script> 	

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">




<!-- Navbar
    ================================================== -->
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://github.com/addyosmani/jquery-ui-bootstrap">Theresienstadt explained</a>
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="./index.html">Home</a>
                    </li>
                      <li class="">
				    	<a class="" href="javascript:render('story', false, '#page');" class="">Entstehungsgeschichte</a>
				    </li>
				    <li class="">
				    	<a class="" href="/videos/view/52a13d2e2aa9d35f24000777" class="sr-only">Film</a>
				    </li>
				    <li class="">
				    <a class="" href="javascript:render('scenes', true, '#page');" class="sr-only">Szenen</a>
				    </li>
				    <li class="">
				    <a class="" href="javascript:render('persons', true, '#page');" class="sr-only">Personen</a>
				    </li>
                    
				   				 	<li>
				   				 		<a href="/about">About</a>
				   				 	</li>
                    
                </ul>
                <div hidden id="twitter-share" class="navbar-right">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://addyosmani.github.com/jquery-ui-bootstrap/" data-text="A new jQuery UI Bootstrap theme" data-via="addyosmani" data-size="large">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </nav>
        </div>
    </header>



<%- body %>


<footer>
<div class="page-footer"><% include footer %></div>
</footer>	
	
	
<div style="display:none; visibility:hidden;" id="vi2"></div>
</body>
</html>

